*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    }

    .container{
        width: 80%;
        padding: 45px;
        border-radius: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform:translate(-50%,-50%);
   
    }

    .row{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .col-md-7{
        padding: 20px;
    }
    .col-md-5{
        background-image:linear-gradient(rgb(28, 169, 198), rgb(211, 54, 192),
         rgb(158, 19, 70));
        padding: 10px;
        color: azure;
    }
    .col-md-5 h4{
        padding-top: 10px;
        font-family: cursive;
    }
    .form-control{
        height: 52px;
        font-size: 14px;
        border-radius: 2px;
        background: white;
        color: black;
        box-sizing: none! important;
        border: 1px solid black;

    }
    .bi{
        font-size:18px;

    }
    .d-flex p{
        font-size: 16px;
        padding-left: 18px;
        font-family: cursive;
    }
    @media only screen and (max-width:600px) {
        .container{
            width: 100%;
            position: absolute;
            left: 50%;
            top: 80%;
        }
        
    }